In [ ]:
import pandas as pd
import sqlite3

# Load the CSV data into a Pandas DataFrame
file_path = '/Users/stephaniebellew/Desktop/Experiment1_Location1.csv'
df = pd.read_csv(file_path)

# Fill missing values with 'missing' as you already did
df = df.fillna('missing')

# Connect to SQLite database (it will create the file if it doesn't exist)
db_path = '/Users/stephaniebellew/Desktop/Ventilation_Experiments_Metadata.db'
conn = sqlite3.connect(db_path)

# Convert the DataFrame into an SQL table named 'Ventilation_Experiments'
df.to_sql('Ventilation_Experiments_Metadata', conn, if_exists='replace', index=False)

# Verify by fetching some data from the database
query = "SELECT * FROM Ventilation_Experiments LIMIT 200;"
result = pd.read_sql(query, conn)

# Display the result (first 5 rows of the table)
print(result)

# Close the connection to the database
conn.close()

    Overall ID  Experiment ID  Location ID  Measurement ID  \
0        1_1_1              1            1               1
1        1_1_2              1            1               2
2        1_1_3              1            1               3
3        1_1_4              1            1               4
4        1_1_5              1            1               5
..         ...            ...          ...             ...
195    1_1_196              1            1             196
196    1_1_197              1            1             197
197    1_1_198              1            1             198
198    1_1_199              1            1             199
199    1_1_200              1            1             200

    Experiment Condition            timestamp      time      IAQ  \
0          Window Closed  2024-11-27 22:34:26   missing  missing
1          Window Closed  2024-11-27 22:34:27   15087.0      0.0
2          Window Closed  2024-11-27 22:34:29   16087.0      0.0
3          Window Closed  2024-11-27 22:34:30   17158.0      0.0
4          Window Closed  2024-11-27 22:34:31   18148.0      0.0
..                   ...                  ...       ...      ...
195        Window Closed  2024-11-27 22:38:14  122588.0     25.0
196        Window Closed  2024-11-27 22:38:15  123589.0     25.0
197        Window Closed  2024-11-27 22:38:16  124589.0     25.0
198        Window Closed  2024-11-27 22:38:17  125529.0     25.0
199        Window Closed  2024-11-27 22:38:18  126524.0     25.0

    Temperature / C Humidity / % Compensated Gas / ppm VOC / ppm CO2 / ppm  \
0           missing      missing               missing   missing   missing
1               0.0          0.0                   0.0       0.0       0.0
2               0.0          0.0                   0.0       0.0       0.0
3               0.0          0.0                   0.0       0.0       0.0
4               0.0          0.0                   0.0       0.0       0.0
..              ...          ...                   ...       ...       ...
195           13.13        45.11                   4.0      0.49     500.0
196           13.13        45.11                   4.0      0.49     500.0
197           13.13        45.11                   4.0      0.49     500.0
198           13.13        45.11                   4.0      0.49     500.0
199           13.13        45.11                   4.0      0.49     500.0

     Temperature (Weather)  Humidity (Weather)  Wind Speed (Weather)  \
0                     1.29                  90                  2.68
1                     1.29                  90                  2.68
2                     1.29                  90                  2.68
3                     1.29                  90                  2.68
4                     1.29                  90                  2.68
..                     ...                 ...                   ...
195                   1.29                  90                  2.68
196                   1.29                  90                  2.68
197                   1.29                  90                  2.68
198                   1.29                  90                  2.68
199                   1.29                  90                  2.68

     AQI (Pollution)  CO Concentration  NO2 Concentration
0                  2            293.73              52.78
1                  2            293.73              52.78
2                  2            293.73              52.78
3                  2            293.73              52.78
4                  2            293.73              52.78
..               ...               ...                ...
195                2            293.73              52.78
196                2            293.73              52.78
197                2            293.73              52.78
198                2            293.73              52.78
199                2            293.73              52.78

[200 rows x 19 columns]

In [22]:
import pandas as pd
import sqlite3

# Path to the second CSV file
file_path_2 = '/Users/stephaniebellew/Desktop/Experiment1_Location2.csv'

# Load the second CSV into a DataFrame
df_2 = pd.read_csv(file_path_2)

# Fill missing values with 'missing' (same as before)
df_2 = df_2.fillna('missing')

# Connect to the existing SQLite database
db_path = '/Users/stephaniebellew/Desktop/Ventilation_Experiments.db'
conn = sqlite3.connect(db_path)

# Append the data from the second CSV to the existing SQL table
df_2.to_sql('Ventilation_Experiments', conn, if_exists='append', index=False)

# Verify by fetching some data from the table
query = "SELECT * FROM Ventilation_Experiments LIMIT 40000;"



# Execute the query and load the result into a DataFrame
result = pd.read_sql(query, conn)

# Display the result (first 5 rows of the table)
print(result)

#Query to select rows where 'Overall Id' contains '1_1'
query = "SELECT * FROM Ventilation_Experiments WHERE `Overall Id` LIKE '%1_1%';"

# Execute the query and load the result into a DataFrame
result = pd.read_sql(query, conn)

# Display the result (first 5 rows of the table)
print(result.head())


# Close the database connection
conn.close()

      Overall ID  Experiment ID  Location ID  Measurement ID  \
0          1_1_1              1            1               1
1          1_1_2              1            1               2
2          1_1_3              1            1               3
3          1_1_4              1            1               4
4          1_1_5              1            1               5
...          ...            ...          ...             ...
39995   1_2_9077              1            2            9077
39996   1_2_9078              1            2            9078
39997   1_2_9079              1            2            9079
39998   1_2_9080              1            2            9080
39999   1_2_9081              1            2            9081

      Experiment Condition            timestamp        time      IAQ  \
0            Window Closed  2024-11-27 22:34:26     missing  missing
1            Window Closed  2024-11-27 22:34:27     15087.0      0.0
2            Window Closed  2024-11-27 22:34:29     16087.0      0.0
3            Window Closed  2024-11-27 22:34:30     17158.0      0.0
4            Window Closed  2024-11-27 22:34:31     18148.0      0.0
...                    ...                  ...         ...      ...
39995        Window Closed  2024-11-28 01:40:19  10566875.0    346.0
39996        Window Closed  2024-11-28 01:40:20  10567876.0    346.0
39997        Window Closed  2024-11-28 01:40:21  10568871.0    346.0
39998        Window Closed  2024-11-28 01:40:22  10569871.0    346.0
39999        Window Closed  2024-11-28 01:40:23  10570871.0    346.0

      Temperature / C Humidity / % Compensated Gas / ppm VOC / ppm CO2 / ppm  \
0             missing      missing               missing   missing   missing
1                 0.0          0.0                   0.0       0.0       0.0
2                 0.0          0.0                   0.0       0.0       0.0
3                 0.0          0.0                   0.0       0.0       0.0
4                 0.0          0.0                   0.0       0.0       0.0
...               ...          ...                   ...       ...       ...
39995           23.96        41.14                   4.0    101.11    3762.0
39996           23.96        41.14                   4.0    101.11    3762.0
39997           23.96        41.14                   4.0    101.11    3762.0
39998           23.96        41.14                   4.0    101.11    3762.0
39999           23.96        41.14                   4.0    101.11    3762.0

       Temperature (Weather)  Humidity (Weather)  Wind Speed (Weather)  \
0                       1.29                  90                  2.68
1                       1.29                  90                  2.68
2                       1.29                  90                  2.68
3                       1.29                  90                  2.68
4                       1.29                  90                  2.68
...                      ...                 ...                   ...
39995                   0.09                  94                  1.03
39996                   0.09                  94                  1.03
39997                   0.09                  94                  1.03
39998                   0.09                  94                  1.03
39999                   0.09                  94                  1.03

       AQI (Pollution)  CO Concentration  NO2 Concentration
0                    2            293.73              52.78
1                    2            293.73              52.78
2                    2            293.73              52.78
3                    2            293.73              52.78
4                    2            293.73              52.78
...                ...               ...                ...
39995                2            300.41              45.93
39996                2            300.41              45.93
39997                2            300.41              45.93
39998                2            300.41              45.93
39999                2            300.41              45.93

[40000 rows x 19 columns]
  Overall ID  Experiment ID  Location ID  Measurement ID Experiment Condition  \
0      1_1_1              1            1               1        Window Closed
1      1_1_2              1            1               2        Window Closed
2      1_1_3              1            1               3        Window Closed
3      1_1_4              1            1               4        Window Closed
4      1_1_5              1            1               5        Window Closed

             timestamp     time      IAQ Temperature / C Humidity / %  \
0  2024-11-27 22:34:26  missing  missing         missing      missing
1  2024-11-27 22:34:27  15087.0      0.0             0.0          0.0
2  2024-11-27 22:34:29  16087.0      0.0             0.0          0.0
3  2024-11-27 22:34:30  17158.0      0.0             0.0          0.0
4  2024-11-27 22:34:31  18148.0      0.0             0.0          0.0

  Compensated Gas / ppm VOC / ppm CO2 / ppm  Temperature (Weather)  \
0               missing   missing   missing                   1.29
1                   0.0       0.0       0.0                   1.29
2                   0.0       0.0       0.0                   1.29
3                   0.0       0.0       0.0                   1.29
4                   0.0       0.0       0.0                   1.29

   Humidity (Weather)  Wind Speed (Weather)  AQI (Pollution)  \
0                  90                  2.68                2
1                  90                  2.68                2
2                  90                  2.68                2
3                  90                  2.68                2
4                  90                  2.68                2

   CO Concentration  NO2 Concentration
0            293.73              52.78
1            293.73              52.78
2            293.73              52.78
3            293.73              52.78
4            293.73              52.78

In [ ]:
import pandas as pd
import sqlite3

# Path to the second CSV file
file_path_3 = '/Users/stephaniebellew/Desktop/Experiment2_Location1_.csv'

# Load the second CSV into a DataFrame
df_3 = pd.read_csv(file_path_3)

# Fill missing values with 'missing' (same as before)
df_3 = df_3.fillna('missing')

# Connect to the existing SQLite database
db_path = '/Users/stephaniebellew/Desktop/Ventilation_Experiments.db'
conn = sqlite3.connect(db_path)

# Append the data from the second CSV to the existing SQL table
df_2.to_sql('Ventilation_Experiments', conn, if_exists='append', index=False)

# Verify by fetching some data from the table
query = "SELECT * FROM Ventilation_Experiments LIMIT 40000;"



# Execute the query and load the result into a DataFrame
result = pd.read_sql(query, conn)

# Display the result (first 5 rows of the table)
print(result)

#Query to select rows where 'Overall Id' contains '1_1'
query = "SELECT * FROM Ventilation_Experiments WHERE `Overall Id` LIKE '%1_1%';"

# Execute the query and load the result into a DataFrame
result = pd.read_sql(query, conn)

# Display the result (first 5 rows of the table)
print(result.head())


# Close the database connection
conn.close()